body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}

.filter {
  margin-bottom: 20px;
}

.car-card {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

.car-listings {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  flex-shrink: 3;
  flex-flow: space-between;
  align-items: stretch;
}
