body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  color: black;
}

.title {
  text-align: center;
  font-size: 24pt;
}

.filter {
  margin-bottom: 20px;
}

.filterhidden {
  display: none;
}

.carCard {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

.filter-container {
  width: 20%;
  float: left;
}

.car-listings {
  width: 75%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  flex-shrink: 3;
  flex-flow: space-between;
  align-items: stretch;
  float: right;
}

.year-range-container {
  text-align: center;
}
